:root {
  --dark-orange: #e54c21;
  --orange: #f16524;
  --black: #000;
  --dark-white: #ececec;
  --white: #fff;
}

@font-face {
  font-family: "Yet Untitled";
  src:
    url("/Yet-Untitled.woff") format("woff"),
    url("/Yet-Untitled.woff2") format("woff2");
}

@font-face {
  font-family: "Futur Block";
  src:
    url("/Futur-Block.woff") format("woff"),
    url("/Futur-Block.woff2") format("woff2");
}

html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;

  color: var(--white);

  background: var(--orange);
}

h1 {
  margin: 0;
  padding: 1rem;

  font-family: "Yet Untitled", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  text-shadow: var(--black) 0 0 0.1em;
  letter-spacing: 0.05em;
}

p {
  padding: 1em;
  font-family: "Futur Block", sans-serif;
  font-size: 1.4em;
  letter-spacing: 0.05em;
}

h2 {
  padding: 0.5em;
  font-family: "Futur Block", sans-serif;
}

h3 {
  padding: 0.5em;
}

nav {
  position: sticky;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  height: 2em;
  margin: 0;
  padding: 0;

  background-color: var(--white);
  opacity: 89%;
}

a {
  display: block;

  font-size: 1.5rem;
  color: var(--white);
  text-decoration: none;
  text-shadow: var(--orange) 0 0 0.05em;
  color: var(--orange);
}

section {
  padding: 1rem;
}
