:root {
  --dark-orange: #e54c21;
  --orange: #f16524;
  --black: #000;
  --dark-white: #ececec;
  --white: #fff;
}

@font-face {
  font-family: "Yet Untitled";
  src:
    url("/Yet-Untitled.woff") format("woff"),
    url("/Yet-Untitled.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;
  color: var(--white);
  background: var(--dark-orange);
}

h1 {
  font-family: "Yet Untitled", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  text-shadow: var(--black) 0 0 0.1em;
  letter-spacing: 0.05em;
}
