@font-face {
  font-family: "Futur Block";
  src:
    url("/Futur-Block.woff") format("woff"),
    url("/Futur-Block.woff2") format("woff2");
}

* {
  font-family: "Futur Block", sans-serif;
}

p {
  padding: 1em;
  font-size: 0.8em;
  letter-spacing: 0.05em;
}

h2 {
  padding: 0.5em;
}

h3 {
  padding: 0.5em;
}
