nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin: 0;
  padding: 0;

  background-color: var(--orange);
}

nav a {
  display: block;

  padding: 0.2em 0.5em;

  color: var(--white);
  text-decoration: none;
  text-shadow: var(--black) 0 0 0.3em;
}
