---
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Atributo dropzone</title>
  </head>
  <body>
    <h1>dropzone</h1>
    <p>Especifica qué tipos de contenido se pueden colocar en el elemento e instruye al UA (User Agent) sobre qué acciones tomar con el contenido cuando se coloca en el elemento.</p>
    <p></p>
    <ul>
      <li><p><b>copy</b> Indica que se debe copiar el elemento arrastrado al soltarlo.</p></li>
      <li><p><b>move</b> Indica que se debe mover el elemento arrastrado al soltarlo.</p></li>
      <li><p><b>link</b> Indica que se debe crear un enlace o referencia al elemento arrastrado al soltarlo.</p></li>
      <li><p><b>s:(string)</b> Indica que se debe tratar el elemento arrastrado como una cadena de texto al soltarlo.</p></li>
      <li><p><b>f:(file)</b> Indica que se deben cargar los archivos arrastrados al soltarlos.</p></li>
    </ul>
    <p>El valor no debe tener más de uno de los tres tokens copy, move o link. Si no se especifica ninguno, el elemento representa una zona de colocación de copia.</p>
  </body>
</html>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

	:root {
		--background: #001f3f;
		--text: #f8f9fa;
		--heading: #ffd700;
		--hover: #FF731D;
		--foreground: #3B185F;
		--foreground-2: #800020;
		--foreground-3: #03001C;
	}

	h1 {
		color: var(--heading);
		font-family: 'Roboto', sans-serif;
		font-weight: 900;
		text-align: center;
	}

	p {
		color: var(--text);
		font-family: 'Roboto', sans-serif;
	}

  li {
    color: var(--text);
  }

  b { 
    color: var(--hover);
  }

	html {
		--s: 30px; /* control the size */
		--c1: var(--background);
		--c2: var(--foreground-3);
		
		--_s:37.5% 12.5% at 62.5%;
		--_g:34% 99%,#0000 101%;
		--g1:radial-gradient(var(--_s) 100%,#0000 32%,var(--c1) var(--_g));
		--g2:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c1) var(--_g));
		--g3:radial-gradient(var(--_s) 100%,#0000 32%,var(--c2) var(--_g));
		--g4:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c2) var(--_g));
		background:
			var(--g1),
			var(--g2) 0                calc(3*var(--s)),
			var(--g3) var(--s)         calc(3*var(--s)),
			var(--g4) var(--s)         calc(6*var(--s)),
			var(--g1) calc(2*var(--s)) calc(6*var(--s)),
			var(--g2) calc(2*var(--s)) calc(9*var(--s)),
			var(--g3) calc(3*var(--s)) calc(9*var(--s)),
			var(--g4) calc(3*var(--s)) 0,
			repeating-linear-gradient(var(--c1) 0 25%,var(--c2) 0 50%);
		background-size: calc(4*var(--s)) calc(12*var(--s));
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
</style>