---
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Atributos Globales</title>
  </head>
  <body>
    <h1>Atributos Globales</h1>
    <p>Los atributos globales en <abbr title="Hyper Text Markup Language">HTML</abbr> han existido desde las primeras versiones del lenguaje, como HTML 4.01 y <abbr title="eXtensible Hypertext Markup Language">XHTML</abbr> 1.0. Estos atributos se crearon con el prop칩sito de proporcionar funcionalidades comunes y flexibilidad a todos los elementos HTML, permitiendo una mayor personalizaci칩n y manipulaci칩n de los elementos en las p치ginas web.</p>
    <div class="elements-container">
      <a href="/accesskey/">accesskey</a>
      <a href="/autocapitalize/">autocapitalize</a>
      <a href="/autofocus/">autofocus</a>
      <a href="/class/">class</a>
      <a href="/contenteditable/">contenteditable</a>
      <a href="/dataset/">dataset</a>
      <a href="/dir/">dir</a>
      <a href="">draggable</a>
      <a href="">dropzone</a>
      <a href="">enterkeyhint</a>
      <a href="">exportparts</a>
      <a href="">hidden</a>
      <a href="">id</a>
      <a href="">inert</a>
      <a href="">inputmode</a>
      <a href="">is</a>
      <a href="">itemid</a>
      <a href="">itemprop</a>
      <a href="">itemref</a>
      <a href="">itemscope</a>
      <a href="">itemtype</a>
      <a href="">lang</a>
      <a href="">nonce</a>
      <a href="">part</a>
      <a href="">slot</a>
      <a href="">spellcheck</a>
      <a href="">style</a>
      <a href="">tabindex</a>
      <a href="">title</a>
      <a href="">translate</a>
    </div>
  </body>
  <style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;700&display=swap');

		:root {
			--background: #001f3f;
			--text: #f8f9fa;
			--heading: #ffd700;
			--hover: #FF731D;
			--foreground: #3B185F;
			--foreground-2: #800020;
			--foreground-3: #03001C;
		}

		h1 {
			color: var(--heading);
			font-family: 'Roboto', sans-serif;
			font-weight: 900;
			text-align: center;
		}

		p {
			color: var(--text);
			font-family: 'Roboto', sans-serif;
		}

		a {
			background: var(--foreground-2);
			color: var(--text);
			height: 0.2rem;
			width: min-content;
			border-radius: 13px;
			padding: 1rem;
			text-decoration: none;
			text-align: center;
			font-family: "Red Hat Mono", monospace;
			line-height: 0.2rem;
			margin: 0 0.3rem 0 0.3rem;
		}

		a:hover {
			box-shadow: 0 0 0 3px var(--hover);
			transform: scale(1.1);
		}

		.elements-container {
			display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
		}

		html {
			--s: 30px; /* control the size */
			--c1: var(--background);
			--c2: var(--foreground-3);
			
			--_s:37.5% 12.5% at 62.5%;
			--_g:34% 99%,#0000 101%;
			--g1:radial-gradient(var(--_s) 100%,#0000 32%,var(--c1) var(--_g));
			--g2:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c1) var(--_g));
			--g3:radial-gradient(var(--_s) 100%,#0000 32%,var(--c2) var(--_g));
			--g4:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c2) var(--_g));
			background:
				var(--g1),
				var(--g2) 0                calc(3*var(--s)),
				var(--g3) var(--s)         calc(3*var(--s)),
				var(--g4) var(--s)         calc(6*var(--s)),
				var(--g1) calc(2*var(--s)) calc(6*var(--s)),
				var(--g2) calc(2*var(--s)) calc(9*var(--s)),
				var(--g3) calc(3*var(--s)) calc(9*var(--s)),
				var(--g4) calc(3*var(--s)) 0,
				repeating-linear-gradient(var(--c1) 0 25%,var(--c2) 0 50%);
			background-size: calc(4*var(--s)) calc(12*var(--s));
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	</style>
</html>
