---
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Historia</title>
	</head>
	<body>
		<h1>Historia de HTML</h1>
		<p>El desarrollo de HTML ha pasado por varias revisiones y ampliaciones desde sus inicios. Inicialmente alojado en el <span title="The European Organization for Nuclear Research">CERN</span> y luego en el <span title="The Internet Engineering Task Force">IETF</span>, el desarrollo de HTML se trasladó al <span title="World Wide Web Consortium">W3C</span>. Después de los intentos de extender HTML, como HTML 3.0 y HTML 3.2, HTML4 se lanzó en 1997. El <span title="World Wide Web Consortium">W3C</span> luego se centró en crear un equivalente basado en XML llamado XHTML, lo que dio como resultado XHTML 1.0 en 2000.</p>
		<p>Paralelamente a XHTML, el <span title="World Wide Web Consortium">W3C</span> también trabajó en XHTML2, un nuevo lenguaje incompatible con HTML y XHTML. Mientras tanto, se publicaron las especificaciones HTML de DOM Nivel 1, DOM Nivel 2 Core y DOM Nivel 2, pero el desarrollo se estancó. En 2003, el interés en la evolución del propio HTML resurgió con la publicación de XForms, lo que llevó a la idea de ampliar los formularios de HTML4 para incorporar funciones similares.
		</p>
		<p>Un taller en 2004 probó la idea de reabrir la evolución de HTML, pero la propuesta fue rechazada inicialmente a favor de reemplazos basados en XML. Sin embargo, Apple, Mozilla y Opera unieron fuerzas bajo <span title="The Web Hypertext Application Technology Working Group">WHATWG</span> para continuar desarrollando HTML5, enfocándose en la compatibilidad con versiones anteriores, haciendo coincidir las especificaciones e implementaciones, y brindando especificaciones detalladas para una interoperabilidad completa.</p>
		<p>En 2007, el <span title="World Wide Web Consortium">W3C</span> formó un grupo de trabajo para colaborar con el <span title="The Web Hypertext Application Technology Working Group">WHATWG</span> sobre HTML5. Con el tiempo, los grupos divergieron en sus objetivos, con el <span title="World Wide Web Consortium">W3C</span> apuntando a una versión terminada de HTML5 y el <span title="The Web Hypertext Application Technology Working Group">WHATWG</span> optando por un estándar de vida actualizado continuamente para abordar problemas conocidos e introducir nuevas funciones. En 2019, <span title="The Web Hypertext Application Technology Working Group">WHATWG</span> y <span title="World Wide Web Consortium">W3C</span> llegaron a un acuerdo para colaborar en el desarrollo de una versión unificada de HTML en el futuro.</p>
	</body>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

	  :root {
		 --background: #001f3f;
		 --text: #f8f9fa;
		 --heading: #ffd700;
		 --hover: #ff4500;
		 --foreground: #800080;
	 }

		body {
			background: var(--background);
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		h1 {
			color: var(--heading);
			font-family: 'Merriweather', serif;
			font-weight: 700;
			font-style: bold;
		}

		p {
			color: var(--text);
			font-family: 'Merriweather', serif;
			font-weight: 400;
			font-style: normal;
			width: 42rem;
		}

		span {
			color: var(--hover);
			font-family: 'Merriweather', serif;
			font-weight: 700;
			font-style: bold;
		}
 </style>
</html>
