---
import Main from "../layouts/Main.astro";
import History from "../components/History.astro";
const title: string = "Lenguaje HTML";
---

<Main title={title}>
	<h1>HTML Language</h1>
	<History />
</Main>
