---
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Clases de Contenido</title>
	</head>
	<body>
		<h1>Clases de Contenido</h1>
		<p>Las clases de contenido hacen parte de la guia oficial desarrollada, actualizada y publicada por la <abbr title="Web Hypertext Application Technology Working Group">WHATWG</abbr> en el capítulo 3 de la especificación de <abbr title="Hyper Text Markup Language">HTML</abbr>.</p>
		<p>Contiene varias categorías y algunas de ellas engloban partes de otras categorías o la totalidad de otras categorías.</p>
		<p>Estas categorías proporcionan una estructura general para clasificar y comprender los diferentes elementos en HTML. Cabe destacar que algunos elementos pueden pertenecer a múltiples categorías, y algunos elementos tienen restricciones de dónde se pueden utilizar según su contexto.</p>
		<h2>Contenido de Metadatos</h2>
		<p>
			El contenido de metadatos en HTML se refiere a los elementos que contienen información adicional sobre la página y proporcionan instrucciones a los motores de búsqueda, navegadores y otros agentes que interactúan con el sitio web. Estos elementos son cruciales para <abbr title="Search Engine Optimization">SEO</abbr> y la presentación adecuada de la página en los resultados de búsqueda.
		</p>
		<p>Cada uno tiene un propósito específico y contribuye a mejorar la accesibilidad, el SEO y la presentación general de la página web en los navegadores y motores de búsqueda.</p>
		<div class="elements-container">
			<a href="">base</a>
			<a href="">link</a>
			<a href="">meta</a>
			<a href="">noscript</a>
			<a href="">script</a>
			<a href="">style</a>
			<a href="">title</a>
		</div>
		<h2>Contenido Seccionado</h2>
		<p>El contenido seccionado en HTML se refiere a los elementos utilizados para dividir y organizar el contenido en secciones lógicas de una página web. Estos elementos ayudan a estructurar el contenido y proporcionan un contexto claro para su interpretación.</p>
		<p>Representa los elementos que son usados para contenidos específicos. Además ayudan
			a especificar el ámbito de los elementos &ltheader&gt y &ltfooter&gt.</p>
		<p>Estos elementos de contenido seccionado ayudan a organizar y estructurar el contenido de una página web de manera lógica y semántica. Proporcionan un contexto claro y facilitan la comprensión y navegación del sitio web tanto para los usuarios como para los motores de búsqueda. Al utilizarlos correctamente, se mejora la accesibilidad, la usabilidad y la comprensión del contenido.</p>
		<div class="elements-container">
			<a href="">article</a>
			<a href="">aside</a>
			<a href="">nav</a>
			<a href="">section</a>
		</div>
		<h2>Contenido de Encabezados</h2>
		<p>El contenido de encabezados en HTML se refiere a los elementos utilizados para marcar y estructurar títulos y subtítulos en una página web. Estos elementos proporcionan jerarquía y organización al contenido, permitiendo a los usuarios y motores de búsqueda entender la estructura y el flujo de la información.</p>
		<p>Es importante utilizar los elementos de encabezados de forma adecuada y coherente en una página web. Al hacerlo, se mejora la accesibilidad para los usuarios que utilizan tecnologías de asistencia, como lectores de pantalla, y se facilita la comprensión del contenido tanto para los usuarios como para los motores de búsqueda. Es recomendable seguir una estructura lógica y utilizar los encabezados en el orden adecuado, sin omitir niveles o saltar de nivel en nivel.</p>
		<div class="elements-container">
			<a href="">h1</a>
			<a href="">h2</a>
			<a href="">h3</a>
			<a href="">h4</a>
			<a href="">h5</a>
			<a href="">h6</a>
			<a href="">hgroup</a>
		</div>
		<h2>Contenido de Redacción</h2>
		<p>El contenido de redacción en HTML se refiere al texto, audio y elementos visuales que se utilizan para expresar el contenido principal de una página web. Estos elementos permiten transmitir información, mensajes, instrucciones o cualquier otro tipo de contenido que se desee comunicar a los usuarios.</p>
		<p>Estos elementos de redacción en HTML permiten expresar el contenido deseado de una manera textual, auditiva o visual. Al utilizarlos correctamente y de forma accesible, se mejora la experiencia de los usuarios y se brinda una presentación clara y efectiva del contenido de la página web.</p>
		<div class="elements-container">
			<a href="">a</a>
			<a href="">abbr</a>
			<a href="">audio</a>
			<a href="">b</a>
			<a href="">bdi</a>
			<a href="">bdo</a>
			<a href="">br</a>
			<a href="">button</a>
			<a href="">canvas</a>
			<a href="">cite</a>
			<a href="">code</a>
			<a href="">data</a>
			<a href="">datalist</a>
			<a href="">del</a>
			<a href="">dfn</a>
			<a href="">em</a>
			<a href="">embed</a>
			<a href="">i</a>
			<a href="">iframe</a>
			<a href="">img</a>
			<a href="">input</a>
			<a href="">ins</a>
			<a href="">kbd</a>
			<a href="">label</a>
			<a href="">map</a>
			<a href="">mark</a>
			<a href="">math</a>
			<a href="">meter</a>
			<a href="">noscript</a>
			<a href="">object</a>
			<a href="">output</a>
			<a href="">picture</a>
			<a href="">progress</a>
			<a href="">q</a>
			<a href="">ruby</a>
			<a href="">s</a>
			<a href="">samp</a>
			<a href="">script</a>
			<a href="">select</a>
			<a href="">slot</a>
			<a href="">small</a>
			<a href="">span</a>
			<a href="">strong</a>
			<a href="">sub</a>
			<a href="">sup</a>
			<a href="">svg</a>
			<a href="">template</a>
			<a href="">textarea</a>
			<a href="">time</a>
			<a href="">u</a>
			<a href="">var</a>
			<a href="">video</a>
			<a href="">wbr</a>
		</div>
		<p>
			Existen algunos elementos que deben cumplir ciertas condiciones para
			pertenecer a esta categoría.
		</p>
		<div class="special-elements-container">
			<a title="Si es decendiente de un elemento map." href="">area</a>
			<a
				title="Si tiene atributos itemprop o rel con palabras 'body-ok'."
				href="">link</a
			>
			<a title="Si el atributo itemprop está presente." href="">meta</a>
		</div>
		<h2>Contenido Integrado</h2>
		<p>El contenido integrado en HTML se refiere a elementos que permiten insertar contenido externo en una página web, proveniente de otros recursos o servicios. Estos elementos permiten enriquecer el contenido de una página al mostrar información o medios provenientes de fuentes externas.</p>
		<p>Estos elementos de contenido integrado en HTML permiten mostrar contenido proveniente de otros recursos en una página web. Esto puede incluir imágenes, audio, video, contenido interactivo o incluso páginas web completas. Al utilizar estos elementos correctamente, se puede enriquecer el contenido y proporcionar una experiencia más dinámica y diversa para los usuarios.</p>
				<div class="elements-container">
					<a href="">audio</a>
					<a href="">canvas</a>
					<a href="">embed</a>
					<a href="">iframe</a>
					<a href="">img</a>
					<a href="">math</a>
					<a href="">object</a>
					<a href="">picture</a>
					<a href="">svg</a>
					<a href="">video</a>
				</div>
				<h2>Contenido Interactivo</h2>
				<p>El contenido interactivo en HTML se refiere a los elementos y características que permiten la interacción directa entre el usuario y la página web. Este tipo de contenido está diseñado para permitir a los usuarios realizar acciones, responder a estímulos o manipular elementos en la página.</p>
				<p>Estos elementos y características de contenido interactivo en HTML permiten crear experiencias dinámicas y atractivas para los usuarios. Al utilizarlos de manera efectiva, se fomenta la participación del usuario y se brinda una experiencia interactiva en la página web.</p>
				<div class="elements-container">
					<a href="">button</a>
					<a href="">details</a>
					<a href="">embed</a>
					<a href="">iframe</a>
					<a href="">label</a>
					<a href="">select</a>
					<a href="">textarea</a>
				</div>
				<p>
					Existen algunos elementos que deben cumplir ciertas condiciones para
					pertenecer a esta categoría.
				</p>
				<div class="elements-container">
					<a title="Si el atributo href está presente." href="">a</a>
					<a title="Si el atributo controls está presente." href="">audio</a>
					<a title="Si el atributo usemap está presente." href="">img</a>
					<a title="Si el estado del atributo type no es Hidden." href=""
						>input</a
					>
					<a title="Si el atributo controls está presente" href="">video</a>
				</div>
				<h2>Contenido compatible con Scripts</h2>
				<p>El contenido compatible con scripts en HTML se refiere a los elementos que se utilizan para proporcionar soporte a los scripts, que son fragmentos de código JavaScript u otros lenguajes de programación que se ejecutan en el navegador del usuario. Estos scripts pueden agregar funcionalidad interactiva, manipular el contenido de la página y responder a eventos del usuario.</p>
				<p>Estos elementos y características compatibles con scripts en HTML permiten agregar funcionalidad adicional y dinamismo a una página web. Al utilizar scripts de manera efectiva, se pueden crear interacciones personalizadas y proporcionar una experiencia más rica para los usuarios. Es importante tener en cuenta las mejores prácticas de seguridad y rendimiento al utilizar scripts para garantizar una experiencia óptima.</p>
				<div class="special-elements-container">
					<a href="">script</a>
					<a href="">template</a>
				</div>
				<h2>Contenido Palpable</h2>
				<p>El contenido palpable se refiere al contenido que es visible y tiene una presencia física en la página web. Este contenido es tangible y puede ser percibido por los usuarios.</p>
				<p>Es importante destacar que el contenido palpable es aquel que se muestra de manera predeterminada y no está oculto mediante estilos <abbr title="Cascading Style Sheets">CSS</abbr>, scripts u otras técnicas. El contenido palpable juega un papel fundamental en la accesibilidad web, ya que garantiza que el contenido sea perceptible por todos los usuarios, incluyendo aquellos que utilizan tecnologías de asistencia o que tienen limitaciones visuales.</p>
				<p>Al crear contenido palpable en HTML, es esencial considerar la estructura y el diseño adecuados, así como utilizar etiquetas semánticas para describir y organizar el contenido de manera significativa. Esto mejora la legibilidad, la usabilidad y la accesibilidad de la página web.</p>
				<div class="elements-container">
					<a href="">a</a>
					<a href="">abbr</a>
					<a href="">address</a>
					<a href="">article</a>
					<a href="">aside</a>
					<a href="">b</a>
					<a href="">bdi</a>
					<a href="">bdo</a>
					<a href="">blockquote</a>
					<a href="">button</a>
					<a href="">canvas</a>
					<a href="">cite</a>
					<a href="">code</a>
					<a href="">data</a>
					<a href="">del</a>
					<a href="">details</a>
					<a href="">dfn</a>
					<a href="">div</a>
					<a href="">em</a>
					<a href="">embed</a>
					<a href="">fieldset</a>
					<a href="">figure</a>
					<a href="">footer</a>
					<a href="">form</a>
					<a href="">h1</a>
					<a href="">h2</a>
					<a href="">h3</a>
					<a href="">h4</a>
					<a href="">h5</a>
					<a href="">h6</a>
					<a href="">header</a>
					<a href="">hgroup</a>
					<a href="">i</a>
					<a href="">iframe</a>
					<a href="">img</a>
					<a href="">ins</a>
					<a href="">kbd</a>
					<a href="">label</a>
					<a href="">main</a>
					<a href="">map</a>
					<a href="">mark</a>
					<a href="">math</a>
					<a href="">meter</a>
					<a href="">nav</a>
					<a href="">object</a>
					<a href="">output</a>
					<a href="">p</a>
					<a href="">picture</a>
					<a href="">pre</a>
					<a href="">progress</a>
					<a href="">q</a>
					<a href="">ruby</a>
					<a href="">s</a>
					<a href="">samp</a>
					<a href="">search</a>
					<a href="">section</a>
					<a href="">select</a>
					<a href="">small</a>
					<a href="">span</a>
					<a href="">strong</a>
					<a href="">sub</a>
					<a href="">sup</a>
					<a href="">svg</a>
					<a href="">table</a>
					<a href="">textarea</a>
					<a href="">time</a>
					<a href="">u</a>
					<a href="">var</a>
					<a href="">video</a>
				</div>
				<p>
					Existen algunos elementos que deben cumplir ciertas condiciones para
					pertenecer a esta categoría.
				</p>
				<div class="elements-container">
					<a title="Si el atributo control está presente." href="">audio</a>
					<a
						title="Si los elementos hijos incluyen al menos un grupo name-value."
						href="">dl</a
					>
					<a title="Si el estado del atributo type no es Hidden." href=""
						>input</a
					>
					<a
						title="Si los elementos hijos incluyen al menos un elemento li."
						href="">menu</a
					>
					<a
						title="Si los elementos hijos incluyen al menos un elemento li."
						href="">ol</a
					>
					<a
						title="Si los elementos hijos incluyen al menos un elemento li."
						href="">ul</a
					>
				</div>
				<h2>Contenido de Flujo</h2>
				<p>El contenido de flujo en HTML se refiere a todos los elementos que pueden colocarse directamente dentro del elemento &ltbody&gt de una página web. Estos elementos representan el contenido principal de la página y engloban todas las categorías mencionadas anteriormente.</p>
				<p>Al utilizar y combinar estos elementos de manera adecuada, se puede crear una estructura sólida y coherente para el contenido principal de la página web. Es importante tener en cuenta las mejores prácticas de accesibilidad y semántica al crear el contenido de flujo para garantizar una experiencia óptima para todos los usuarios.</p>
				<div class="elements-container">
					<a href="">a</a>
					<a href="">abbr</a>
					<a href="">address</a>
					<a href="">article</a>
					<a href="">aside</a>
					<a href="">audio</a>
					<a href="">b</a>
					<a href="">bdi</a>
					<a href="">bdo</a>
					<a href="">blockquote</a>
					<a href="">br</a>
					<a href="">button</a>
					<a href="">canvas</a>
					<a href="">cite</a>
					<a href="">code</a>
					<a href="">data</a>
					<a href="">datalist</a>
					<a href="">del</a>
					<a href="">details</a>
					<a href="">dfn</a>
					<a href="">div</a>
					<a href="">dl</a>
					<a href="">em</a>
					<a href="">embed</a>
					<a href="">fieldset</a>
					<a href="">figure</a>
					<a href="">footer</a>
					<a href="">form</a>
					<a href="">h1</a>
					<a href="">h2</a>
					<a href="">h3</a>
					<a href="">h4</a>
					<a href="">h5</a>
					<a href="">h6</a>
					<a href="">header</a>
					<a href="">hgroup</a>
					<a href="">hr</a>
					<a href="">i</a>
					<a href="">iframe</a>
					<a href="">img</a>
					<a href="">input</a>
					<a href="">ins</a>
					<a href="">kbd</a>
					<a href="">label</a>
					<a href="">main</a>
					<a href="">map</a>
					<a href="">mark</a>
					<a href="">math</a>
					<a href="">menu</a>
					<a href="">meter</a>
					<a href="">nav</a>
					<a href="">noscript</a>
					<a href="">object</a>
					<a href="">ol</a>
					<a href="">output</a>
					<a href="">p</a>
					<a href="">picture</a>
					<a href="">pre</a>
					<a href="">progress</a>
					<a href="">q</a>
					<a href="">ruby</a>
					<a href="">s</a>
					<a href="">samp</a>
					<a href="">script</a>
					<a href="">section</a>
					<a href="">select</a>
					<a href="">small</a>
					<a href="">span</a>
					<a href="">strong</a>
					<a href="">sub</a>
					<a href="">sup</a>
					<a href="">svg</a>
					<a href="">table</a>
					<a href="">template</a>
					<a href="">textarea</a>
					<a href="">time</a>
					<a href="">u</a>
					<a href="">ul</a>
					<a href="">var</a>
					<a href="">video</a>
					<a href="">wbr</a>
				</div>
				<p>
					Existen algunos elementos que deben cumplir ciertas condiciones para
					pertenecer a esta categoría.
				</p>
				<div class="elements-container">
					<a title="Si es un descendiente del elemento map." href="">area</a>
					<a
						title="Si tiene atributos itemprop o rel con palabras 'body-ok'."
						href="">link</a
					>
					<a
						title="Si es un elemento jerárquicamente correcto y sus antecesores de limitan a elementos html, body, div o form que no tienen un nombre accesible."
						href="">main</a
					>
					<a title="Si el atributo itemprop está presente." href="">meta</a>
				</div>
			</p>
	</body>
	<style>
		@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap");
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

		:root {
			--background: #001f3f;
			--text: #f8f9fa;
			--heading: #ffd700;
			--hover: #FF731D;
			--foreground: #3B185F;
			--foreground-2: #800020;
			--foreground-3: #03001C;
		}

		h1 {
			color: var(--heading);
			font-family: 'Roboto', sans-serif;
			font-weight: 900;
			text-align: center;
		}

		h2 {
			color: var(--heading);
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			text-align: left;
		}

		a {
			background: var(--foreground-2);
			color: var(--text);
			height: 0.2rem;
			width: 6rem;
			border-radius: 13px;
			padding: 1rem;
			text-decoration: none;
			text-align: center;
			font-family: "Red Hat Mono", monospace;
			line-height: 0.2rem;
			margin: 0 0.3rem 0 0.3rem;
		}

		a:hover {
			box-shadow: 0 0 0 3px var(--hover);
			transform: scale(1.1);
		}
		
		p {
			color: var(--text);
			font-family: 'Roboto', sans-serif;
		}

		abbr {
			color: var(--hover);
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
		}

		.elements-container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;
			justify-items: center;
		}

		.special-elements-container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;
			justify-items: center;
		}

		html {
			--s: 30px; /* control the size */
			--c1: var(--background);
			--c2: var(--foreground-3);
			
			--_s:37.5% 12.5% at 62.5%;
			--_g:34% 99%,#0000 101%;
			--g1:radial-gradient(var(--_s) 100%,#0000 32%,var(--c1) var(--_g));
			--g2:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c1) var(--_g));
			--g3:radial-gradient(var(--_s) 100%,#0000 32%,var(--c2) var(--_g));
			--g4:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c2) var(--_g));
			background:
				var(--g1),
				var(--g2) 0                calc(3*var(--s)),
				var(--g3) var(--s)         calc(3*var(--s)),
				var(--g4) var(--s)         calc(6*var(--s)),
				var(--g1) calc(2*var(--s)) calc(6*var(--s)),
				var(--g2) calc(2*var(--s)) calc(9*var(--s)),
				var(--g3) calc(3*var(--s)) calc(9*var(--s)),
				var(--g4) calc(3*var(--s)) 0,
				repeating-linear-gradient(var(--c1) 0 25%,var(--c2) 0 50%);
			background-size: calc(4*var(--s)) calc(12*var(--s));
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	</style>
</html>
