---
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Clases de Contenido</title>
	</head>
	<body>
		<h1>Clases de Contenido</h1>
		<p>Las clases de contenido hacen parte de la guia oficial desarrollada, actualizada y publicada por la WHATWG en el capítulo 3 de la especificación de HTML.</p>
		<p>Contiene varias categorías y algunas de ellas engloban partes de otras categorías o la totalidad de otras categorías.</p>
		<h2>Contenido de Metadatos</h2>
		<p>
			Representa los elementos que contienen los metadatos de la página para informar a motores de
			búsqueda, y contiene los elementos que realizan vínculos o redirecciones a otros archivos.
		</p>
		<div class="elements-container">
			<a href="">base</a>
			<a href="">link</a>
			<a href="">meta</a>
			<a href="">noscript</a>
			<a href="">script</a>
			<a href="">style</a>
			<a href="">title</a>
		</div>
		<h2>Contenido Seccionado</h2>
		<p>
			Representa los elementos que son usados para contenidos específicos. Además ayudan
			a especificar el ámbito de los elementos &ltheader&gt y &ltfooter&gt.
		</p>
		<div class="elements-container">
			<a href="">article</a>
			<a href="">aside</a>
			<a href="">nav</a>
			<a href="">section</a>
		</div>
		<h2>Contenido de Encabezados</h2>
		<p>Representa los elementos que son usados como títulos o subtítulos.</p>
		<div class="elements-container">
			<a href="">h1</a>
			<a href="">h2</a>
			<a href="">h3</a>
			<a href="">h4</a>
			<a href="">h5</a>
			<a href="">h6</a>
			<a href="">hgroup</a>
		</div>
		<h2>Contenido de Redacción</h2>
		<p>
			Representa el contenido que quiere ser expresado en la página, puede ser
			textual, auditivo o visual.
		</p>
		<div class="elements-container">
			<a href="">a</a>
			<a href="">abbr</a>
			<a href="">audio</a>
			<a href="">b</a>
			<a href="">bdi</a>
			<a href="">bdo</a>
			<a href="">br</a>
			<a href="">button</a>
			<a href="">canvas</a>
			<a href="">cite</a>
			<a href="">code</a>
			<a href="">data</a>
			<a href="">datalist</a>
			<a href="">del</a>
			<a href="">dfn</a>
			<a href="">em</a>
			<a href="">embed</a>
			<a href="">i</a>
			<a href="">iframe</a>
			<a href="">img</a>
			<a href="">input</a>
			<a href="">ins</a>
			<a href="">kbd</a>
			<a href="">label</a>
			<a href="">map</a>
			<a href="">mark</a>
			<a href="">math</a>
			<a href="">meter</a>
			<a href="">noscript</a>
			<a href="">object</a>
			<a href="">output</a>
			<a href="">picture</a>
			<a href="">progress</a>
			<a href="">q</a>
			<a href="">ruby</a>
			<a href="">s</a>
			<a href="">samp</a>
			<a href="">script</a>
			<a href="">select</a>
			<a href="">slot</a>
			<a href="">small</a>
			<a href="">span</a>
			<a href="">strong</a>
			<a href="">sub</a>
			<a href="">sup</a>
			<a href="">svg</a>
			<a href="">template</a>
			<a href="">textarea</a>
			<a href="">time</a>
			<a href="">u</a>
			<a href="">var</a>
			<a href="">video</a>
			<a href="">wbr</a>
		</div>
		<p>
			Existen algunos elementos que deben cumplir ciertas condiciones para
			pertenecer a esta categoría.
		</p>
		<div class="special-elements-container">
			<a title="Si es decendiente de un elemento map." href="">area</a>
			<a
				title="Si tiene atributos itemprop o rel con palabras 'body-ok'."
				href="">link</a
			>
			<a title="Si el atributo itemprop está presente." href="">meta</a>
		</div>
		<h2>Contenido Integrado</h2>
		<p>Representa contenido que es importado o insertado a partir de otro recurso</p>
				<div class="elements-container">
					<a href="">audio</a>
					<a href="">canvas</a>
					<a href="">embed</a>
					<a href="">iframe</a>
					<a href="">img</a>
					<a href="">math</a>
					<a href="">object</a>
					<a href="">picture</a>
					<a href="">svg</a>
					<a href="">video</a>
				</div>
				<h2>Contenido Interactivo</h2>
				<p>
					Representa contenido que es específicamente realizado para la
					interación con el usuario.
				</p>
				<div class="elements-container">
					<a href="">button</a>
					<a href="">details</a>
					<a href="">embed</a>
					<a href="">iframe</a>
					<a href="">label</a>
					<a href="">select</a>
					<a href="">textarea</a>
				</div>
				<p>
					Existen algunos elementos que deben cumplir ciertas condiciones para
					pertenecer a esta categoría.
				</p>
				<div class="elements-container">
					<a title="Si el atributo href está presente." href="">a</a>
					<a title="Si el atributo controls está presente." href="">audio</a>
					<a title="Si el atributo usemap está presente." href="">img</a>
					<a title="Si el estado del atributo type no es Hidden." href=""
						>input</a
					>
					<a title="Si el atributo controls está presente" href="">video</a>
				</div>
				<h2>Contenido compatible con Scripts</h2>
				<p>
					Representa los elementos que se utilizan para darle soporte a scripts que le den una funcionalidad extra al usuario.
				</p>
				<div class="special-elements-container">
					<a href="">script</a>
					<a href="">template</a>
				</div>
				<h2>Contenido Palpable</h2>
				<p>Representa contenido que no está vacío ni oculto.</p>
				<div class="elements-container">
					<a href="">a</a>
					<a href="">abbr</a>
					<a href="">address</a>
					<a href="">article</a>
					<a href="">aside</a>
					<a href="">b</a>
					<a href="">bdi</a>
					<a href="">bdo</a>
					<a href="">blockquote</a>
					<a href="">button</a>
					<a href="">canvas</a>
					<a href="">cite</a>
					<a href="">code</a>
					<a href="">data</a>
					<a href="">del</a>
					<a href="">details</a>
					<a href="">dfn</a>
					<a href="">div</a>
					<a href="">em</a>
					<a href="">embed</a>
					<a href="">fieldset</a>
					<a href="">figure</a>
					<a href="">footer</a>
					<a href="">form</a>
					<a href="">h1</a>
					<a href="">h2</a>
					<a href="">h3</a>
					<a href="">h4</a>
					<a href="">h5</a>
					<a href="">h6</a>
					<a href="">header</a>
					<a href="">hgroup</a>
					<a href="">i</a>
					<a href="">iframe</a>
					<a href="">img</a>
					<a href="">ins</a>
					<a href="">kbd</a>
					<a href="">label</a>
					<a href="">main</a>
					<a href="">map</a>
					<a href="">mark</a>
					<a href="">math</a>
					<a href="">meter</a>
					<a href="">nav</a>
					<a href="">object</a>
					<a href="">output</a>
					<a href="">p</a>
					<a href="">picture</a>
					<a href="">pre</a>
					<a href="">progress</a>
					<a href="">q</a>
					<a href="">ruby</a>
					<a href="">s</a>
					<a href="">samp</a>
					<a href="">search</a>
					<a href="">section</a>
					<a href="">select</a>
					<a href="">small</a>
					<a href="">span</a>
					<a href="">strong</a>
					<a href="">sub</a>
					<a href="">sup</a>
					<a href="">svg</a>
					<a href="">table</a>
					<a href="">textarea</a>
					<a href="">time</a>
					<a href="">u</a>
					<a href="">var</a>
					<a href="">video</a>
				</div>
				<p>
					Existen algunos elementos que deben cumplir ciertas condiciones para
					pertenecer a esta categoría.
				</p>
				<div class="elements-container">
					<a title="Si el atributo control está presente." href="">audio</a>
					<a
						title="Si los elementos hijos incluyen al menos un grupo name-value."
						href="">dl</a
					>
					<a title="Si el estado del atributo type no es Hidden." href=""
						>input</a
					>
					<a
						title="Si los elementos hijos incluyen al menos un elemento li."
						href="">menu</a
					>
					<a
						title="Si los elementos hijos incluyen al menos un elemento li."
						href="">ol</a
					>
					<a
						title="Si los elementos hijos incluyen al menos un elemento li."
						href="">ul</a
					>
				</div>
				<h2>Contenido de Flujo</h2>
				<p>
					Representa todos los elementos que pueden colocarse en el elemento &ltbody&gt. Engloba todas las categoras mencionadas.
				</p>
				<div class="elements-container">
					<a href="">a</a>
					<a href="">abbr</a>
					<a href="">address</a>
					<a href="">article</a>
					<a href="">aside</a>
					<a href="">audio</a>
					<a href="">b</a>
					<a href="">bdi</a>
					<a href="">bdo</a>
					<a href="">blockquote</a>
					<a href="">br</a>
					<a href="">button</a>
					<a href="">canvas</a>
					<a href="">cite</a>
					<a href="">code</a>
					<a href="">data</a>
					<a href="">datalist</a>
					<a href="">del</a>
					<a href="">details</a>
					<a href="">dfn</a>
					<a href="">div</a>
					<a href="">dl</a>
					<a href="">em</a>
					<a href="">embed</a>
					<a href="">fieldset</a>
					<a href="">figure</a>
					<a href="">footer</a>
					<a href="">form</a>
					<a href="">h1</a>
					<a href="">h2</a>
					<a href="">h3</a>
					<a href="">h4</a>
					<a href="">h5</a>
					<a href="">h6</a>
					<a href="">header</a>
					<a href="">hgroup</a>
					<a href="">hr</a>
					<a href="">i</a>
					<a href="">iframe</a>
					<a href="">img</a>
					<a href="">input</a>
					<a href="">ins</a>
					<a href="">kbd</a>
					<a href="">label</a>
					<a href="">main</a>
					<a href="">map</a>
					<a href="">mark</a>
					<a href="">math</a>
					<a href="">menu</a>
					<a href="">meter</a>
					<a href="">nav</a>
					<a href="">noscript</a>
					<a href="">object</a>
					<a href="">ol</a>
					<a href="">output</a>
					<a href="">p</a>
					<a href="">picture</a>
					<a href="">pre</a>
					<a href="">progress</a>
					<a href="">q</a>
					<a href="">ruby</a>
					<a href="">s</a>
					<a href="">samp</a>
					<a href="">script</a>
					<a href="">section</a>
					<a href="">select</a>
					<a href="">small</a>
					<a href="">span</a>
					<a href="">strong</a>
					<a href="">sub</a>
					<a href="">sup</a>
					<a href="">svg</a>
					<a href="">table</a>
					<a href="">template</a>
					<a href="">textarea</a>
					<a href="">time</a>
					<a href="">u</a>
					<a href="">ul</a>
					<a href="">var</a>
					<a href="">video</a>
					<a href="">wbr</a>
				</div>
				<p>
					Existen algunos elementos que deben cumplir ciertas condiciones para
					pertenecer a esta categoría.
				</p>
				<div class="elements-container">
					<a title="Si es un descendiente del elemento map." href="">area</a>
					<a
						title="Si tiene atributos itemprop o rel con palabras 'body-ok'."
						href="">link</a
					>
					<a
						title="Si es un elemento jerárquicamente correcto y sus antecesores de limitan a elementos html, body, div o form que no tienen un nombre accesible."
						href="">main</a
					>
					<a title="Si el atributo itemprop está presente." href="">meta</a>
				</div>
			</p>
	</body>
	<style>
		@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
		@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap");

		:root {
			--background: #001f3f;
			--text: #f8f9fa;
			--heading: #ffd700;
			--hover: #ff731d;
			--foreground: #800080;
			--foreground-2: #800020;
			--foreground-3: #03001c;
		}

		h1 {
			color: var(--heading);
			font-family: "Merriweather", serif;
			font-weight: 700;
			text-align: center;
		}

		h2 {
			color: var(--heading);
			font-family: "Merriweather", serif;
			font-weight: 700;
			text-align: left;
		}

		p {
			color: var(--text);
			font-family: "Merriweather", serif;
			font-weight: 400;
			font-style: normal;
			width: 42rem;
		}

		span {
			color: var(--hover);
			font-family: "Merriweather", serif;
			font-weight: 700;
			font-style: bold;
		}

		a {
			background: var(--foreground-2);
			color: var(--text);
			height: 0.2rem;
			width: 6rem;
			border-radius: 13px;
			padding: 1rem;
			text-decoration: none;
			text-align: center;
			font-family: "Red Hat Mono", monospace;
			line-height: 0.2rem;
			margin: 0 0.3rem 0 0.3rem;
		}

		a:hover {
			box-shadow: 0 0 0 3px var(--hover);
			transform: scale(1.1);
		}

		.elements-container {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 1rem;
		}

		.special-elements-container {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 2rem;
		}

		html {
			--s: 30px; /* control the size */
			--c1: var(--background);
			--c2: var(--foreground-3);

			--_s: 37.5% 12.5% at 62.5%;
			--_g: 34% 99%, #0000 101%;
			--g1: radial-gradient(var(--_s) 100%, #0000 32%, var(--c1) var(--_g));
			--g2: radial-gradient(var(--_s) 0, #0000 32%, var(--c1) var(--_g));
			--g3: radial-gradient(var(--_s) 100%, #0000 32%, var(--c2) var(--_g));
			--g4: radial-gradient(var(--_s) 0, #0000 32%, var(--c2) var(--_g));
			background: var(--g1), var(--g2) 0 calc(3 * var(--s)),
				var(--g3) var(--s) calc(3 * var(--s)),
				var(--g4) var(--s) calc(6 * var(--s)),
				var(--g1) calc(2 * var(--s)) calc(6 * var(--s)),
				var(--g2) calc(2 * var(--s)) calc(9 * var(--s)),
				var(--g3) calc(3 * var(--s)) calc(9 * var(--s)),
				var(--g4) calc(3 * var(--s)) 0,
				repeating-linear-gradient(var(--c1) 0 25%, var(--c2) 0 50%);
			background-size: calc(4 * var(--s)) calc(12 * var(--s));
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	</style>
</html>
