---
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Atributos accesskey</title>
  </head>
  <body>
    <h1>accesskey</h1>
    <p>El atributo accesskey en HTML se utiliza para asignar una combinación de teclas que proporciona acceso rápido a un elemento específico en una página web. Al presionar la combinación de teclas designada, el enfoque del navegador se traslada directamente al elemento asociado con el accesskey.</p>
    <p>Es importante tener en cuenta que la combinación de teclas asignada con accesskey no debe entrar en conflicto con los atajos de teclado ya establecidos por el navegador, ya que esto puede causar conflictos de accesibilidad. Cada navegador y sistema operativo pueden tener su propia forma de activar los accesskeys, por lo que la forma en que se utilizan puede variar según el entorno de visualización utilizado por el usuario.</p>
    <p>El atributo accesskey es una forma de mejorar la accesibilidad de un sitio web, permitiendo a los usuarios navegar y acceder a los elementos clave de forma más rápida mediante combinaciones de teclas en lugar de tener que utilizar el ratón o realizar múltiples clics. Sin embargo, su uso debe ser considerado y planificado cuidadosamente para evitar conflictos y garantizar una buena experiencia de usuario.</p>
  </body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

	:root {
		--background: #001f3f;
		--text: #f8f9fa;
		--heading: #ffd700;
		--hover: #FF731D;
		--foreground: #3B185F;
		--foreground-2: #800020;
		--foreground-3: #03001C;
	}

	h1 {
		color: var(--heading);
		font-family: 'Roboto', sans-serif;
		font-weight: 900;
		text-align: center;
	}

	p {
		color: var(--text);
		font-family: 'Roboto', sans-serif;
	}

	html {
		--s: 30px; /* control the size */
		--c1: var(--background);
		--c2: var(--foreground-3);
		
		--_s:37.5% 12.5% at 62.5%;
		--_g:34% 99%,#0000 101%;
		--g1:radial-gradient(var(--_s) 100%,#0000 32%,var(--c1) var(--_g));
		--g2:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c1) var(--_g));
		--g3:radial-gradient(var(--_s) 100%,#0000 32%,var(--c2) var(--_g));
		--g4:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c2) var(--_g));
		background:
			var(--g1),
			var(--g2) 0                calc(3*var(--s)),
			var(--g3) var(--s)         calc(3*var(--s)),
			var(--g4) var(--s)         calc(6*var(--s)),
			var(--g1) calc(2*var(--s)) calc(6*var(--s)),
			var(--g2) calc(2*var(--s)) calc(9*var(--s)),
			var(--g3) calc(3*var(--s)) calc(9*var(--s)),
			var(--g4) calc(3*var(--s)) 0,
			repeating-linear-gradient(var(--c1) 0 25%,var(--c2) 0 50%);
		background-size: calc(4*var(--s)) calc(12*var(--s));
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
</style>