---
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Atributo class</title>
  </head>
  <body>
    <h1>class</h1>
    <p>El atributo global class en HTML se utiliza para asignar una o varias clases a un elemento. Estas clases, separadas por espacios, permiten identificar y distinguir elementos específicos en el código HTML, ya sea para aplicar estilos con CSS o manipularlos mediante JavaScript.</p>
    <p>Es importante destacar que la especificación de HTML no impone restricciones sobre los nombres de las clases. Sin embargo, es una buena práctica utilizar nombres que reflejen el propósito semántico del elemento en lugar de su apariencia visual. Esto significa que los nombres de clase deben describir la función o el significado del elemento en el contexto de la página.</p>
    <p>Al utilizar nombres semánticos para las clases, el código HTML sigue siendo lógico y coherente, incluso si cambia la presentación visual de la página. Además, esto mejora la accesibilidad y facilita el mantenimiento del código, ya que los nombres descriptivos ayudan a comprender el propósito de los elementos y a realizar cambios o actualizaciones en el futuro.</p>
  </body>
</html>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

	:root {
		--background: #001f3f;
		--text: #f8f9fa;
		--heading: #ffd700;
		--hover: #FF731D;
		--foreground: #3B185F;
		--foreground-2: #800020;
		--foreground-3: #03001C;
	}

	h1 {
		color: var(--heading);
		font-family: 'Roboto', sans-serif;
		font-weight: 900;
		text-align: center;
	}

	p {
		color: var(--text);
		font-family: 'Roboto', sans-serif;
	}

	html {
		--s: 30px; /* control the size */
		--c1: var(--background);
		--c2: var(--foreground-3);
		
		--_s:37.5% 12.5% at 62.5%;
		--_g:34% 99%,#0000 101%;
		--g1:radial-gradient(var(--_s) 100%,#0000 32%,var(--c1) var(--_g));
		--g2:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c1) var(--_g));
		--g3:radial-gradient(var(--_s) 100%,#0000 32%,var(--c2) var(--_g));
		--g4:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c2) var(--_g));
		background:
			var(--g1),
			var(--g2) 0                calc(3*var(--s)),
			var(--g3) var(--s)         calc(3*var(--s)),
			var(--g4) var(--s)         calc(6*var(--s)),
			var(--g1) calc(2*var(--s)) calc(6*var(--s)),
			var(--g2) calc(2*var(--s)) calc(9*var(--s)),
			var(--g3) calc(3*var(--s)) calc(9*var(--s)),
			var(--g4) calc(3*var(--s)) 0,
			repeating-linear-gradient(var(--c1) 0 25%,var(--c2) 0 50%);
		background-size: calc(4*var(--s)) calc(12*var(--s));
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
</style>