---
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Atributo draggable</title>
  </head>
  <body>
    <h1>draggable</h1>
    <p>El atributo global draggable en HTML es un atributo enumerado que se utiliza para indicar si un elemento se puede arrastrar o no, ya sea utilizando el comportamiento nativo del navegador o la API de arrastrar y soltar de HTML.</p>
    <p>Este atributo se puede aplicar a elementos HTML y no a elementos SVG. Puede tener dos valores:</p>
    <ul>
      <li><p><b>true</b> indica que el elemento se puede arrastrar.</p></li>
      <li><p><b>false</b> indica que el elemento no se puede arrastrar.</p></li>
    </ul>
    <p>Es importante tener en cuenta que el atributo draggable es un atributo enumerado y no un valor booleano. Por lo tanto, es obligatorio especificar un valor de true o false.</p>
    <p>Si no se establece el atributo draggable, su valor predeterminado es auto, lo que significa que el comportamiento de arrastre es el comportamiento predeterminado del navegador. En este caso, solo se pueden arrastrar selecciones de texto, imágenes y enlaces. Para habilitar el arrastrar y soltar en otros elementos, es necesario configurar el evento <code>ondragstart</code>.</p>
  </body>
</html>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

	:root {
		--background: #001f3f;
		--text: #f8f9fa;
		--heading: #ffd700;
		--hover: #FF731D;
		--foreground: #3B185F;
		--foreground-2: #800020;
		--foreground-3: #03001C;
	}

	h1 {
		color: var(--heading);
		font-family: 'Roboto', sans-serif;
		font-weight: 900;
		text-align: center;
	}

	p {
		color: var(--text);
		font-family: 'Roboto', sans-serif;
	}

  li {
    color: var(--text);
  }

  b { 
    color: var(--hover);
  }

	html {
		--s: 30px; /* control the size */
		--c1: var(--background);
		--c2: var(--foreground-3);
		
		--_s:37.5% 12.5% at 62.5%;
		--_g:34% 99%,#0000 101%;
		--g1:radial-gradient(var(--_s) 100%,#0000 32%,var(--c1) var(--_g));
		--g2:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c1) var(--_g));
		--g3:radial-gradient(var(--_s) 100%,#0000 32%,var(--c2) var(--_g));
		--g4:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c2) var(--_g));
		background:
			var(--g1),
			var(--g2) 0                calc(3*var(--s)),
			var(--g3) var(--s)         calc(3*var(--s)),
			var(--g4) var(--s)         calc(6*var(--s)),
			var(--g1) calc(2*var(--s)) calc(6*var(--s)),
			var(--g2) calc(2*var(--s)) calc(9*var(--s)),
			var(--g3) calc(3*var(--s)) calc(9*var(--s)),
			var(--g4) calc(3*var(--s)) 0,
			repeating-linear-gradient(var(--c1) 0 25%,var(--c2) 0 50%);
		background-size: calc(4*var(--s)) calc(12*var(--s));
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
</style>