---
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Grupos por función</title>
	</head>
	<body>
		<h1>
			Agrupaciones por función
		</h1>
		<p>Estas agrupaciones son más prácticas a la hora de desarrollar una página web mediante grupos relacionados con el propósito de cada elemento <abbr title="Hyper Text Markup Language">HTML</abbr>. Esto facilita la organización y el mantenimiento del código, ya que agrupar elementos relacionados juntos hace que sea más fácil de entender y modificar en el futuro. </p>
		<h2>Metadatos</h2>
		<p>Los metadatos son la información que utilizan los motores de búsqueda y navegadores para indexar y reconocer la página en internet, los metadatos también se usan para vincular estilos y scripts, estos pueden ser definidos en la misma página o pueden realizar un vínculo a otros archivos con esa información. </p>
		<p>Es importante destacar que los metadatos pueden variar según las necesidades y estándares específicos del proyecto. Además, algunos metadatos adicionales pueden ser específicos de ciertos frameworks o plataformas web.</p>
		<div class="elements-container">
			<a href="">base</a>
			<a href="">head</a>
			<a href="">link</a>
			<a href="">meta</a>
			<a href="">style</a>
			<a href="">title</a>
		</div>
		<h2>Secciones</h2>
		<p>Son los elementos que permiten organizar los documentos en piezas lógicas, incentivan la creación de un esquema más organizado para el contenido de la página web.</p>
		<p>Estos elementos de sección ayudan a estructurar y organizar el contenido de una página web de manera lógica y coherente. Al utilizarlos adecuadamente, se mejora la accesibilidad, la legibilidad y la navegación de la página.</p>
		<div class="elements-container">
			<a href="">address</a>
			<a href="">article</a>
			<a href="">aside</a>
			<a href="">footer</a>
			<a href="">header</a>
			<a href="">h1</a>
			<a href="">h2</a>
			<a href="">h3</a>
			<a href="">h4</a>
			<a href="">h5</a>
			<a href="">h6</a>
			<a href="">hgroup</a>
			<a href="">main</a>
			<a href="">nav</a>
			<a href="">section</a>
		</div>
		<h2>Texto</h2>
		<p>Identifican el propósito o la estructura del contenido, son elementos importantes en temas de <abbr title="Search Engine Optimization">SEO</abbr> y accesibilidad para mostrar de forma adecuada el contenido de la página.</p>
		<p>Al utilizarlos correctamente, se logra una presentación adecuada del contenido en los navegadores y se facilita la comprensión del contenido por parte de los motores de búsqueda y las tecnologías de asistencia para la accesibilidad.</p>
		<div class="elements-container">
			<a href="">blockquote</a>
			<a href="">dd</a>
			<a href="">div</a>
			<a href="">dl</a>
			<a href="">dt</a>
			<a href="">figcaption</a>
			<a href="">figure</a>
			<a href="">hr</a>
			<a href="">li</a>
			<a href="">menu</a>
			<a href="">ol</a>
			<a href="">p</a>
			<a href="">pre</a>
			<a href="">ul</a>
		</div>
		<h2>Texto en línea</h2>
		<p>Estos elementos se utilizan para definir el significado, la estructura o el estilo de una palabra, línea o cualquier texto arbitrario.</p>
		<p>Estos elementos permiten aplicar formato, agregar énfasis o indicar la intención semántica de ciertos fragmentos de texto. Al utilizarlos correctamente, se puede mejorar la presentación visual y la estructura semántica del texto en una página web.</p>
		<div class="elements-container">
			<a href="">a</a>
			<a href="">abbr</a>
			<a href="">b</a>
			<a href="">bdi</a>
			<a href="">bdo</a>
			<a href="">br</a>
			<a href="">cite</a>
			<a href="">code</a>
			<a href="">data</a>
			<a href="">dfn</a>
			<a href="">em</a>
			<a href="">i</a>
			<a href="">kbd</a>
			<a href="">mark</a>
			<a href="">q</a>
			<a href="">rb</a>
			<a href="">rp</a>
			<a href="">rt</a>
			<a href="">ruby</a>
			<a href="">s</a>
			<a href="">samp</a>
			<a href="">small</a>
			<a href="">span</a>
			<a href="">strong</a>
			<a href="">sub</a>
			<a href="">sup</a>
			<a href="">time</a>
			<a href="">u</a>
			<a href="">var</a>
			<a href="">wbr</a>
		</div>
		<h2>Imágenes y multimedia</h2>
		<p>Estos elementos permiten insertar imágenes, audio y video en la página web.</p>
		<p>Además de estos elementos básicos, existen atributos adicionales y opciones de personalización que se pueden utilizar para controlar el aspecto y el comportamiento de las imágenes y los medios multimedia. Por ejemplo, establecer dimensiones, agregar controles de reproducción, establecer subtítulos y mucho más.</p>
		<p>Es importante asegurarse de tener los derechos necesarios para usar imágenes y medios multimedia en tu página web y considerar la optimización del tamaño de los archivos para un rendimiento óptimo de la página.</p>
		<div class="elements-container">
			<a href="">area</a>
			<a href="">audio</a>
			<a href="">img</a>
			<a href="">map</a>
			<a href="">track</a>
			<a href="">video</a>
		</div>
		<h2>Contenido integrado</h2>
		<p>Estos elementos permiten insertar contenido externo, es decir proveniente de otros recursos en la página web, pero no necesariamente el usuario debe interactuar con este contenido.</p>
		<p>Estos elementos son útiles para mostrar contenido de fuentes externas como mapas, documentos incrustados, contenido de redes sociales y más.</p>
		<p>Es importante tener en cuenta la seguridad y la procedencia del contenido que se integra, para evitar problemas potenciales de seguridad y rendimiento.</p>
		<div class="elements-container">
			<a href="">embed</a>
			<a href="">iframe</a>
			<a href="">object</a>
			<a href="">param</a>
			<a href="">picture</a>
			<a href="">portal</a>
			<a href="">source</a>
		</div>
		<h2>Tablas</h2>
		<p>Estos elementos permiten insertar tablas en la página web. Las tablas son útiles para organizar y presentar datos en filas y columnas, lo que facilita la visualización y comprensión de la información tabular.</p>
		<p>Se recomienda utilizarlas con moderación y en los casos en los que las tablas sean la mejor opción para presentar la información. En otros casos, como en la maquetación de la página, se suelen utilizar otros métodos, como flexbox o grid, para lograr una presentación más flexible y responsiva.</p>
		<div class="elements-container">
			<a href="">caption</a>
			<a href="">col</a>
			<a href="">colgroup</a>
			<a href="">table</a>
			<a href="">tbody</a>
			<a href="">td</a>
			<a href="">tfoot</a>
			<a href="">th</a>
			<a href="">thead</a>
			<a href="">tr</a>
		</div>
		<h2>Formularios</h2>
		<p>Estos elementos son de gran importancia ya que son los que permiten recibir y subir información a través de ellos de forma accesible para los usuarios, la cual puede ser manipulada luego para múltiples usos. </p>
		<p>Los formularios en HTML son elementos fundamentales para interactuar con los usuarios y permitirles enviar información desde la página web al servidor. Los formularios proporcionan una manera de recopilar datos, como comentarios, registros de usuario, información de contacto y mucho más.</p>
		<p>Son elementos y atributos que permiten personalizar y mejorar la funcionalidad de los formularios, como validación de entrada, campos de contraseña, campos de fecha, etc.</p>
		<p>Al enviar un formulario, la información ingresada por los usuarios se envía al servidor para su procesamiento y almacenamiento. Posteriormente, se puede utilizar en el backend para diversas acciones, como el almacenamiento en una base de datos, el envío de correos electrónicos, la generación de informes, etc.</p>
		<p>Es importante tener en cuenta la seguridad y la accesibilidad al diseñar formularios. Por ejemplo, se deben implementar medidas de seguridad para evitar la inyección de código malicioso (como ataques de inyección SQL) y se deben proporcionar etiquetas claras y descripciones para facilitar la navegación y la comprensión para las personas que utilizan tecnologías de asistencia.</p>
		<div class="elements-container">
			<a href="">button</a>
			<a href="">datalist</a>
			<a href="">fieldset</a>
			<a href="">form</a>
			<a href="">input</a>
			<a href="">label</a>
			<a href="">legend</a>
			<a href="">meter</a>
			<a href="">optgroup</a>
			<a href="">option</a>
			<a href="">output</a>
			<a href="">progress</a>
			<a href="">select</a>
			<a href="">textarea</a>
		</div>
		<h2>Otras</h2>
		<p>Estas etiquetas son muy pocas para conformar un grupo por si mismas, pero cada una cumple una función importante en particular.</p>
		<p>Estas etiquetas adicionales amplían la funcionalidad de HTML y permiten la implementación de características más específicas en una página web. Cada una de ellas tiene un propósito particular y puede ser utilizada según las necesidades del proyecto.</p>
		<div class="elements-container">
			<a href="">canvas</a>
			<a href="">del</a>
			<a href="">dialog</a>
			<a href="">details</a>
			<a href="">ins</a>
			<a href="">math</a>
			<a href="">noscript</a>
			<a href="">script</a>
			<a href="">slot</a>
			<a href="">summary</a>
			<a href="">svg</a>
			<a href="">template</a>
	</body>
	<style>
		:root {
			--background: #001f3f;
			--text: #f8f9fa;
			--heading: #ffd700;
			--hover: #FF731D;
			--foreground: #3B185F;
			--foreground-2: #800020;
			--foreground-3: #03001C;
		}
		
		h1 {
			color: var(--heading);
			font-family: 'Roboto', sans-serif;
			font-weight: 900;
			text-align: center;
		}

		h2 {
			color: var(--heading);
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			text-align: left;
		}

		a {
			background: var(--foreground-2);
			color: var(--text);
			height: 0.2rem;
			width: 6rem;
			border-radius: 13px;
			padding: 1rem;
			text-decoration: none;
			text-align: center;
			font-family: "Red Hat Mono", monospace;
			line-height: 0.2rem;
			margin: 0 0.3rem 0 0.3rem;
		}

		a:hover {
			box-shadow: 0 0 0 3px var(--hover);
			transform: scale(1.1);
		}

		.elements-container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;
			justify-items: center;
		}

		.special-elements-container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;
			justify-items: center;
		}

		abbr {
			color: var(--hover);
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
		}

		p {
			color: var(--text);
			font-family: 'Roboto', sans-serif;
		}

		html {
			--s: 30px; /* control the size */
			--c1: var(--background);
			--c2: var(--foreground-3);
			
			--_s:37.5% 12.5% at 62.5%;
			--_g:34% 99%,#0000 101%;
			--g1:radial-gradient(var(--_s) 100%,#0000 32%,var(--c1) var(--_g));
			--g2:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c1) var(--_g));
			--g3:radial-gradient(var(--_s) 100%,#0000 32%,var(--c2) var(--_g));
			--g4:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c2) var(--_g));
			background:
				var(--g1),
				var(--g2) 0                calc(3*var(--s)),
				var(--g3) var(--s)         calc(3*var(--s)),
				var(--g4) var(--s)         calc(6*var(--s)),
				var(--g1) calc(2*var(--s)) calc(6*var(--s)),
				var(--g2) calc(2*var(--s)) calc(9*var(--s)),
				var(--g3) calc(3*var(--s)) calc(9*var(--s)),
				var(--g4) calc(3*var(--s)) 0,
				repeating-linear-gradient(var(--c1) 0 25%,var(--c2) 0 50%);
			background-size: calc(4*var(--s)) calc(12*var(--s));
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	</style>
</html>
